.bg-img {
  background-image: url("https://i.ibb.co/BwZLWBw/How-to-Make-a-Car-Repair-Website.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-glass {
  /* From https://css.glass */
background: rgba(24, 36, 42, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(24, 36, 42, 0.44);
}
